@charset "UTF-8";
 /*
     #  = id
     .  = class
     :  = pseudo-class
     :: = pseudo-element
     >  = children
 */
a { 
    color: red;
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color: #0817FF;
}
a:hover{
    color: black;
    text-decoration: underline;
}
a:active{
    color:yellow
}
.especial::after{
    content: '⭒';
    text-decoration: none;
    font-weight: normal;
    color: black;
}
.especial::before{
    content:'⭒' ;
    color: black;
}